[Unit]
Description=Check Multibagger OCI resource usage every ten minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=10min
AccuracySec=30s
Unit=multibagger-resource-watchdog.service

[Install]
WantedBy=timers.target
